$bg-color: #F5F7F8;
$bright-color: #869cad;
$complementary-color: #869CAD;
$solid-color: #5d6a6f;

@media screen and (min-width: 768px) {
  .navbar-right {
    float: left !important;
  }
  #banner .navbar-collapse {
    padding-left: 225px;
    padding-right: 230px !important;
  }
}

.logo-container {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.navbar-form {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
