@import "portlet_decorator";
@import "portlet_hello_world";

@font-face {
    font-family: "kassel";
    font-style: normal;
    font-weight: normal;
    src: url("Kassel_Regular.eot?#iefix") format("embedded-opentype"), url("Kassel_Regular.woff") format("woff"), url("Kassel_Regular.ttf") format("truetype"), url("Kassel_Regular.svg#robotoregular") format("svg");
        unicode-range: U+20-7E, U+A0-17F, U+18F, U+192,
        U+1A0-1A1, U+1AF-1B0, U+1B5-1B6, U+1FA-1FF,
        U+218-21B, U+237, U+259, U+2C6-2C7,
        U+2C9, U+2D8-2DD, U+300-301, U+303,
        U+309, U+323, U+394, U+3A9,
        U+3BC, U+3C0, U+1E80-1E85, U+1E8A-1E8B,
        U+1EA0-1EF9, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A,
        U+2044, U+2070, U+2074-2079, U+2080-2089,
        U+20AB-20AC, U+2113, U+2117, U+2122,
        U+2126, U+212E, U+2153-2154, U+215B-215E,
        U+2190-2193, U+2202, U+2206, U+220F,
        U+2211-2212, U+2215, U+2219-221A, U+221E,
        U+222B, U+2248, U+2260, U+2264-2265,
        U+25CA, U+FB00-FB02;
}


body {
	background-color: $bg-color;
  font-family:  kassel, Verdana, Arial, sans-serif !important;
  color: #5d6a6f;
  font-size: 16px !important;
}

.ui-fileupload-choose {
	min-width: 2rem !important;
	min-height: 2rem !important;
}

.ui-widget-content {
	border: none !important;
}

.ui-galleria-frame {
    opacity: 1 !important;
}

.ui-galleria-frame-active {
    opacity: 1 !important;
    border: 1px solid #d00000 !important;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

#wrapper {
	padding: 0;
  overflow: hidden;
}

#banner {
	padding: 20px 0;
	position: relative;

	a:active, a:hover, a:focus {
		text-decoration: none;
	}

	.portlet-topper {
		z-index: 1;
	}

	.navbar-collapse {
		@include sm {
			padding-right: 4px;
		}
	}

	.navbar-toggle {
    position: absolute;;
    top: 35px;
    right: 20px;
	}

	#heading .site-name {
		color: $solid-color;
		font-size: 150%;
		margin-left: 8px;
		vertical-align: middle;

		@include sm {
			letter-spacing: 2px;
			margin-left: 20px;
		}
	}

	#navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
			margin-left: -15px;
			margin-right: -15px;
      width: 100%;
      padding-right: 0 !important;
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}

			li.open > a:focus {
				@include tab-focus;
			}
		}

		.navbar-blank > li {
			& > a {
				color: $solid-color;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: #990000;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom: 1px solid #E1E1E1;
				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}

	.navbar-form {
    position: static;
    padding: 0;

	  margin-left: 30px;

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		.form-control {
			background-color: transparent;
			border-bottom-width: 1px;
			border-color: #D6DCE2;
			margin-top: 2px;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {
			position: absolute;
			right: 0;
			top: 0;

			a {
				color: $complementary-color;
			}
		}
	}

	.user-personal-bar {
    margin-top: 40px;
  	position: static;
    float: left !important;

    #p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ {

      span.sign-in {
        border: 2px solid #869cad;
        border-radius: 50px;
        display: block;
      }

      a.sign-in {
        padding: 10px 30px 10px 60px;;
        position: relative;

        &::before {
          content: url(../images/icon-schloss.png);
          position: absolute;
          left: 30px;
          top: 14px;
        }
      }
    }

		.panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
		}

		.sign-in > a, .user-avatar-link {
			display: block;

      .user-icon {
        height: 50px;
        line-height: 50px;
        width: 50px;
      }
		}

		.sign-in > a {
			line-height: 28px;
      padding: 0;
		}

		.user-avatar-image {
			display: inline-block;
			vertical-align: text-bottom;
			width: 50px;
		}

		.user-avatar-link {
			line-height: 0;
      padding: 0;

			@include sm {
        padding: 0;
			}
		}

		.panel-notifications-count {
			@include media-query(null, $breakpoint_tablet - 1) {
				left: 2px;
				position: relative;
				top: 6px;
			}
		}

		.icon-user, .user-full-name {
			display: none;
		}
	}

  .menu-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    .additionalMenu {
      margin: 37px 0 0 20px;
      text-align: center;
      @media screen and (min-width:500px) {
        text-align: left;
      }

      a {
        margin-right: 20px;
        display: inline-block;

        &:hover,
        &:active {
          color: #990000;
        }

        &.btn.red {
          background-color: #d00000;
          padding: 15px 30px;
          border-radius: 50px;
          color: #fff;
          font-size: 15px;
          width: 100%;
          margin-bottom: 10px;
          @media screen and (min-width:500px) {
            width: auto;
            margin-bottom: 0;
          }
        }
      }
    }
  }

	.navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 4px;
		top: 50%;

		@include sm {
			padding: 0 0 0 8px;
			position: relative;

			.lexicon-icon {
				width: 8px;
			}
		}
	}

	@include sm {
		padding: 40px 0 30px;
	}
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

#footer {
	background-color: $solid-color;
	color: #FFF;
	margin-bottom: 60px;
	padding: 40px 20px;

	a {
		color: #FFF;
	}
  .middle, .right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left, .middle .right {
    width: 100%;
    @media screen and (min-width:900px) {
      width: auto;
    }
  }
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}

/* SWE */
body {
  background-color: #fff;
}
h1 {
  font-size: 50px;
  line-height: 66px;
  font-weight: bold;
  font-family:  kassel, Verdana, Arial, sans-serif !important;
}
h2 {
  font-size: 40px;
  line-height: 45px;
  font-weight: bold;
  font-family:  kassel, Verdana, Arial, sans-serif !important;
}
h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  font-family:  kassel, Verdana, Arial, sans-serif !important;
}
p,ol li {
  font-size: 16px;
  line-height: 28px;
  color: #818d95;
}
a {
  color: #5d6a6f;
}

header {
  max-width: none !important;
  border-bottom: 1px solid #e4e8ea;
  padding: 5px 0 5px 0 !important;
  min-height: 135px;

  &>.row {
    margin-left: 30px;
    margin-right: 30px;
  }

  .logo-container {
    left: 60px;
    top: 33px;
    position: static;
    margin-top: 30px;
  }
}
#navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  justify-content: center;
  @include media-query(null, $screen-xs-max) {
    justify-content: flex-end;
  }

  .navbar-right:nth-child(2) {
    width: 64%;
  }
}
.navbar {

  #layout_1,
  #layout_101,
  #layout_6 {
    display: none;
  }

  #layout_103,
  #layout_7 {
    margin-right: 80px;

    &::before {
      content: url(../images/menu-projekte-grau.png);
      vertical-align: sub;
      width: 27px;
      height: 27px;
      display: inline-block;
    }
    &:hover::before,
    &.selected::before {
      content: url(../images/menu-projekte-rot.png);
    }

    &>a {
      display: inline-block;
    }
  }
  #layout_104,
  #layout_8 {
    margin-right: 80px;

    &::before {
      content: url(../images/menu-projekt-karte-grau.png);
      vertical-align: sub;
      width: 30px;
      height: 30px;
      display: inline-block;
    }
    &:hover::before,
    &.selected::before {
      content: url(../images/menu-projekt-karte-rot.png);
    }
    &>a {
      display: inline-block;
    }
  }
  #layout_105,
  #layout_9,
  #layout_512 {

    &::before {
      content: url(../images/menu-ergebnisse-grau.png);
      vertical-align: sub;
      width: 34px;
      height: 27px;
      display: inline-block;
    }
    &:hover::before,
    &.selected::before {
      content: url(../images/menu-ergebnisse-rot.png);
    }
    &>a {
      display: inline-block;
    }
  }
}
#heading {
  width: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  justify-content: space-between;

  &::after, &::before {
    content: none;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .navbar-right {
    float: left !important;
    margin: 0 0 0 10px !important;
  }

  .navbar-collapse {
    padding: 35px 20px 0 20px !important;

    @media screen and (min-width:768px) {
      display: none !important;
    }
    @media screen and (min-width:1180px) {
      display: block !important;
    }

    &.in {
      display: block !important;

      .lfr-nav-item {
        margin-right: 0;
        float: none;
      }
    }
  }
  .navbar-toggle {

    @media screen and (min-width:769px) {
      display: block;
      position: static;
      margin: 44px 0 0 30px;
    }
    @media screen and (min-width:1180px) {
        display: none;
    }

    .icon-bar {
      background-color: #869cad;
    }
  }
}
#portlet_com_liferay_portal_search_web_portlet_SearchPortlet {

  #banner .navbar-form .field-wrapper {
    position: static;
  }
  .lfr-ddm-field-group.lfr-ddm-field-group-inline.field-wrapper {
    position: static;
    margin: 40px 0 0 0;
    @media screen and (min-width:1025px) {
      margin: 45px 0 0 0;
    }
  }
}

.portlet-content {

  &>h2 {
    display: none;
  }
}
.content-overlay {

  .button {
    position: relative;
  }

  .btn.red {
    background-color: #d00000;
    padding: 2.3rem 9rem 2.3rem 4rem;
    @media screen and (min-width:1025px) {
      padding: 2.3rem 7rem 2.3rem 7rem;
    }
    border-radius: 50px;
    color: #fff;
    font-size: 15px;

    &::after {
      content: url(../images/projekt-einfuegen-weiss.png);
      margin-left: 2rem;
      position: absolute;
      right: 4rem;
      top: 3.5rem;
      @media screen and (min-width:450px) {
        right: auto;
        top: auto;
      }

    }
  }
}
#content1,
#content2,
#content4 {
  margin-left: -15px;
  margin-right: -15px;
  float: left;
}
#column-1 .portlet-content {
  padding: 0!important;
}
#content1 {

  .col-sm-6 {

    &:last-child {
      @media screen and (min-width:450px) {
        padding-left: 10rem;
      }
    }

    h2 {
      margin-top: 150px;
      margin-bottom: 25px;
    }

    p {
      line-height: 30px;
    }
  }
}
#content2 {
  margin-top: 30px;
  @media screen and (min-width:1025px) {
    margin-top: 200px;
  }

  .col-sm-4 {
    margin-bottom: 20px;
    @media screen and (min-width:1025px) {
      margin-bottom: 0;
    }

    .content {
      border-bottom: 3px solid #e4e8ea;
      @media screen and (min-width:450px) {
        padding: 0 40px 0 40px;
      }

      h3 {
        margin: 54px 0 15px 0;
      }

      a.link {
        color: #5d6a6f;
        font-weight: bold;
        font-size: 15px;
        margin-top: 40px;
        display: block;

        &::after {
          content: '\f105';
          font-family: 'fontawesome-alloy';
          margin-left: 3rem;
        }

        &:hover::after {
          text-decoration: none;
        }
      }
    }
  }
}
#content4 {
  background-color: #d00000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 3px 2px 70px grey;
  padding: 10px 10px 20px 10px;
  margin-top: 30px;
  @media screen and (min-width:1025px) {
    padding: 52px 52px 42px 52px;
    margin-top: 200px;
  }
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;

  max-width: 1250px;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .col-sm-6:last-child {
    text-align: right;
    align-self: center;
  }

  h3 {
    margin: 0 0 18px 0;
  }

  p {
    color: #fff;
  }

  .button {
    position: relative;
  }

  .btn.white {
    background-color: #fff;
    padding: 2.3rem 7rem 2.3rem 4rem;
    @media screen and (min-width:1025px) {
      padding: 23px 70px;
    }
    border-radius: 50px;
    color: #d00000;
    font-size: 15px;

    &::after {
      content: url(../images/projekt-einfuegen-rot.png);
      margin-left: 20px;
      position: absolute;
      right: 4rem;
      top: 3.5rem;
      @media screen and (min-width:450px) {
        right: auto;
        top: auto;
      }

    }
  }
}

#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_xzGh3S4cnsal {

  #content4 {
    @media screen and (min-width:1025px) {
      margin-top: 200px;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

}
@media screen and (min-width:1025px) {
  #content4.meineprojekte {
    margin-top: 100px;
  }
}
#footer {
  background-color: transparent;
  color: #9EABB3;
  font-size: 0.9em;

  a {
    color: #9EABB3;
    margin-right: 30px;
    font-size: 0.9em;

    &:last-child {
      margin-right: 0;
    }
  }

  .left {

    p {
      color: #9EABB3;
      font-size: 0.9em;
      margin-bottom: 0;
    }

    .icon-heart::before {
      content: url(../images/icon-herz-rot.png);
    }
  }

  .right a {
    text-decoration: none;
    font-size: 1.5em;
    @include respond-to(mobile) {
      margin-top: 1rem;
      justify-content: center;
    }

    .icon-youtube::before {
      content: url(../images/sm-youtube.png);
    }
    .icon-instagram::before {
      content: url(../images/sm-instagram.png);
    }
    .icon-facebook::before {
      content: url(../images/sm-facebook.png)
    }
	  .icon-twitter::before {
      content: url(../images/sm-twitter.png)
    }
  }

  .footer-wrapper {
    display: block;
    @media screen and (min-width:769px) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }

    justify-content: space-between;
  }

  &.container-fluid-1280 .row {
    margin: 0;
  }

}

/* Registrierung */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #000;
  font-weight: bold;
}
.button-holder {
  text-align: center;

  button.btn-primary {
    background-color: #d00000;
    border-color: #d00000;
    border-radius: 30px;

    &:hover {
      background-color: #990000;
      border-color: #990000;
    }
  }
}
.login-container .navigation a {
  color: #869CAD;

  &:hover {
    color: #000;
  }
}
.navigation {

  #_com_liferay_login_web_portlet_LoginPortlet_caxi {
    display: none;
  }
}


/* Ideas Overview */
#portlet_JSFAcceptedIdeasOverview_WAR_JSFAcceptedIdeasOverview {
  margin-top: 120px;

  &>.portlet-content {

    &>h2 {
      display: none;
    }
  }
}
#accepted-idea-overview-grid {
  transition: none;
  height: auto !important;

  .w3-padding-small {
    padding: 0 25px 50px 25px;
    @include respond-to(mobile) {
      padding: 0 0 50px 0;
    }

    width: 100% !important;
    @media screen and (min-width:600px) {
      width: 50% !important;
    }
    @media screen and (min-width:1100px) {
      width: 33.3333% !important;
    }

    .w3-card-4 {
      padding: 30px 25px;
      transition: none;
      border-radius: 10px;
      position: relative;
      @media screen and (min-width:600px) {
        min-height: 33rem;
      }

      img {
        border-radius: 10px;
        height: 280px;
        margin: 0 auto;
        max-width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        &::before {
          content: '';
        }
      }

      .w3-container.w3-margin-top {
        position: absolute;
        bottom: 5px;
        @media screen and (min-width:769px) {
          bottom: 32px;
        }
      }

      .w3-teal.w3-padding,
      footer.w3-teal {
        background: none !important;
        color: #5d6a6f !important;
      }

      footer.w3-teal {
        float: right;
        position: absolute;
        right: 32px;
        bottom: 15px;
        @media screen and (min-width:769px) {
          bottom: 45px;
        }

        a {
          border: none !important;
          padding: 5px 25px !important;
          width: 100% !important;
          border-radius: 50px;
          background-color: #d00000;
          color: #fff;
          font-size: 15px;

          &:hover {
            text-decoration: none !important;
          }
        }
      }

      &:hover {
        transform: unset;

        .w3-teal.w3-padding {
          display: block;
          max-height: 280px;
        }

        img::before {
          content: '';
          display: block;
          background-color: rgba(65,65,65,0.9) !important;
          border-radius: 10px;
        }
      }
    }
  }
}

/* Startseite */
#content {

  .contentheader {

    @media screen and (min-width:769px) {
       position: absolute;
       left: -28%;
       top: 0;
       width: 156%;
    }

    .content-overlay {

       @media screen and (min-width:769px) {
         position: absolute;
         top: 80px;
         right: 10%;
         background-color: #e4e8ea;
         border-radius: 10px;
         box-shadow: 3px 2px 70px grey;
         padding: 55px 90px 55px 90px;
         width: 590px;
      }

      h1 {
        margin: 0 0 40px 0;
      }
      .button {
        margin-top: 100px;
      }
      p {
        font-size: 18px;
        line-height: 34px;
        color: #5d6a6f;
      }
    }
  }
  #p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_8fGus3XA6SsG_ {
    padding-top: 70px;
    @media screen and (min-width:769px) {
      padding-top: 770px;
    }
  }
}

/* Suche */
#_com_liferay_portal_search_web_portlet_SearchPortlet_keywords {
  display: none;
}


/* */
#p_p_id_JSFIdeaBoard_WAR_JSFIdeaBoard_ {

  .w3-button {
    background-color: #d00000 !important;
    padding: 0 3rem;
    border-radius: 50px !important;

    &:hover {
      background-color: #990000 !important;
      color: #fff !important;
    }
  }

  .ui-selectonemenu {
    overflow: hidden;

    label.ui-selectonemenu-label {
      font-weight: normal;
    }

    .ui-selectonemenu-trigger {
      margin-right: 5px;

      .ui-icon {
        margin-top: 6px !important;
      }
    }
  }
}


/* Idee erfassen*/
#_JSFIdeaBoard_WAR_JSFIdeaBoard_ {

    header.w3-container {
      background-color: #fff !important;

      h2 {
        color:  #5d6a6f;
        margin-left: 8px;
      }
    }
    label {
      font-size: 18px;
      color: #5d6a6f;
      font-weight: bold;
      display: inline;
    }
    input {
      border: none !important;
      border-bottom: 1px solid #818d95 !important;
      border-radius: 0 !important;
      color: #818d95;
      font-size: 14px;
    }

    .ui-autocomplete {
      border: none !important;
      border-bottom: 1px solid #818d95 !important;
      border-radius: 0 !important;
      color: #818d95;
      font-size: 14px;

      .ui-autocomplete-multiple-container {
        border: none !important;
      }

      input {
        border: none !important;
      }
    }
    footer {
      padding: 1rem 8px;
      background-color: #fff !important;

      button {
        background-color: #d00000;
        border-color: #d00000;
        border-radius: 50px;

        &:hover {
          background-color: #ccc;
          color: #000;
          border-color: #ccc;
        }

      }
      button:first-child {
        width: 49%;
        padding: 0 1rem;
        @media screen and (min-width:560px) {
          width: auto;
          padding: 0 2rem;
        }
      }
      button:nth-child(2) {
        width: 49%;
        padding: 0 1rem;
        margin-bottom: 1rem;
        @media screen and (min-width:560px) {
          width: auto;
          padding: 0 2rem;
          margin-bottom: 0;
        }
      }
      button:last-child {
          width: 49%;
          @media screen and (min-width:560px) {
            width: auto;
          }
      }
    }
    .ui-inputfield.ui-state-focus,
    .ui-widget-content .ui-inputfield.ui-state-focus,
    .ui-widget-header .ui-inputfield.ui-state-focus {
       -moz-box-shadow:0 0 5px #e4e8ea;
       -webkit-box-shadow:0 0 5px #e4e8ea;
       box-shadow:0 0 5px #e4e8ea;
    }
    .ui-inputswitch-on {
     background:#e4e8ea!important;
     color:#fff!important;
    }
}

/* Detailseite */
#ideas_video_player {
  width: 100%;
  border-radius: 10px;
}
.portlet-boundary_JSFIdeaDetailViewer_WAR_JSFIdeaDetailViewer_ {
  padding: 0;
  @media screen and (min-width:790px) {
    padding: 55px 55px 0 55px;
  }
  margin-top: 60px;

  .portlet-content {
    border: none;
    padding: 0;

    .ui-accordion-content {
      padding: 0;
      @media screen and (min-width:790px) {
        padding: 1em 2.2em;
      }

      .ui-galleria {
        width: 100% !important;
        @media screen and (min-width:790px) {
          width: 600px !important;
        }

        .ui-galleria-panel-wrapper {
          width: 100% !important;
          @media screen and (min-width:790px) {
            width: 600px !important;
          }

          .ui-galleria-panel {
            width: 100% !important;
            @media screen and (min-width:790px) {
              width: 600px !important;
            }

            img {
              width: 100% !important;
              @media screen and (min-width:790px) {
                width: auto !important;
              }
            }
          }
        }
      }
    }
  }

  p {
    text-align: left;
    padding: 0 200px;
  }
  pre {
    padding: 0 200px;
    margin: 0 0 10px 0;
    border: none;
    background: none;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    color: #818d95;
    font-family: kassel,Verdana,Arial,sans-serif !important;
  }
  h4 {
    text-align: left;
    padding: 0 200px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 80px;
  }
  footer {
    border-top: 1px solid #e4e8ea;
    border-bottom: 1px solid #e4e8ea;
    margin: 80px 0;
    padding: 25px 0 50px 0;
    @media screen and (min-width:600px) {
      padding: 25px 0;
    }
    display: block;
    text-align: center;

    @media screen and (min-width:600px) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    form {
      @media screen and (min-width:600px) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
      }

      &>span {
        display: flex;
        @media screen and (max-width:600px) {
          justify-content: center;
          width: 100%;
          margin: 0.5rem 0;
        }
      }

      span:last-child {
        float: left;
        @media screen and (min-width:600px) {
          float: right;
          margin-top: 0;
        }
      }
    }
  }
}
.portlet-boundary_Ideenkarte_ {

  .portlet-content {
    border: none;
    padding: 0;
  }
}
.portlet-boundary_comment_ {
  padding: 0 55px 55px 55px;
  margin-top: 80px;

  .portlet-content {
    border: none;
    padding: 0;
  }

  .taglib-discussion {

    .panel {
      border: none;
      box-shadow: none;
    }
  }
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
  border: 1px solid #d00000;
  color: #fff;
  background: #d00000;
  border-radius: 50px;
  padding: 0 2rem;
  box-shadow: none !important;
  font-weight: normal;
  font-size: 15px;

  &:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #000;
  }

  &.ui-button-text {
    text-shadow: none;
    margin-top: 0 !important;
  }
}

.btn { /* Override nowrap */
	white-space: normal !important;
}

#portlet_com_liferay_portal_search_web_portlet_SearchPortlet {

  &.portlet {
    margin: 0;
  }

  .portlet-content {
    border: none;
    padding: 0;

    fieldset {
      padding: 0;
      margin: 0;
    }
  }
}

/* Registrierung */
#portlet_com_liferay_login_web_portlet_LoginPortlet {

  .portlet-content {
    padding: 0 !important;
    border: none !important;
  }
}


/* Control menu */
.control-menu-level-1 {
  background-color: #fff !important;
  color: #29343d !important;

  &> .container-fluid-1280 {
    padding: 0 !important;
  }
}
.sites-control-group {
  display: none;
}
.toast-animation .cn,
.toast-animation .pm {
  border: 1px solid #29343d !important;
}
.lexicon-icon {
  fill: #29343d !important;
}

/* Projekt einreichen */
#p_p_id_JSFIdeaBoard_WAR_JSFIdeaBoard_ {

  header {
    margin-bottom: 50px;
    padding: 0 !important;
    color: #818d95 !important;
    border-color: #e4e8ea !important;

    .modal-menu-header {
      display: block;
      @media only screen and (min-width:500px) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
      }

      .selected {
        color: #818d95;
        padding-bottom: 20px;
        border-bottom: 1px solid #818d95;
        @include respond-to(mobile) {
          border-bottom: none;
        }
      }

      .not-selected {
        color: #e4e8ea;
        padding-bottom: 20px;
      }

      &>div::before {
        border: 2px solid #818d95;
        border-radius: 50%;
        display: inline-block;;
        margin-right: 1rem;
        padding: 0 7px;
      }
      &>div.not-selected::before {
        border-color: #e4e8ea;
      }
      &>div:first-child::before {
        content: '1';
      }
      &>div:nth-child(2)::before {
        content: '2';
      }
      &>div:nth-child(3)::before {
        content: '3';
      }
      &>div:last-child::before {
        content: '\f00c';
        font-family: 'fontawesome-alloy';
        font-size: 12px;
        line-height: 2;
      }
    }
  }

  h3 {
    color: #5d6a6f;
  }

  input {
    border-bottom: 1px solid #e4e8ea !important;
    display: inline-block;
    color: #818d95;
    font-size: 14px;
    font-family:  kassel, Verdana, Arial, sans-serif !important;
  }
  textarea {
    border: none;
    border-bottom: 1px solid #e4e8ea !important;
    margin-bottom: 30px;
    color: #818d95;
    font-size: 14px;
    font-family:  kassel, Verdana, Arial, sans-serif !important;
  }

  .w3-padding-small {
    padding: 0;
  }

  .w3-col.m4 {
    ol {
      padding-left: 0;
      color: #818d95;

      .fas::before {
        color: #000;
      }
    }
  }

  .w3-col.m8 {
    padding-left: 0;
    @media screen and (min-width:600px) {
      padding-left: 7rem;
    }

    &>.w3-padding-small {
      border-bottom: 1px solid #bebebe;
      padding: 0 !important;
      width: 100%;
      @media screen and (min-width:1001px) {
        width: 622px;
      }

      .w3-container.w3-padding-small {
        padding: 0 !important;
      }
    }

    .ui-tabs {
      padding: 0;
      border-bottom: 1px solid #bebebe !important;
      width: 100%;
      position: relative;
      @media screen and (min-width:1001px) {
        width: 622px;
      }

      .ui-tabs-panels {
        padding-top: 39px;
      }

      .ui-tabs-nav {
        padding: 0;
        position: absolute;
        top: 0;

        li {
          border-bottom: 1px solid #bebebe;

          &.ui-state-active {
            border-bottom: 1px solid #fff;
          }
        }
      }

      .ui-tabs-panel {
        padding: 0;


        #canvas-container1,
        #canvas-container2,
        #canvas-container3 {
          margin: 0 !important;
          padding: 10px;
          width: 100% !important;
          height: 100% !important;
          border-left: 1px solid #bebebe;
          border-right: 1px solid #bebebe;

          .canvas-container {
            width: 100% !important;
            min-height: 300px;
            height: auto !important;
            @media screen and (min-width:450px) {
              min-height: 440px;
            }

            @media screen and (min-width:601px) {
              min-height: 420px;
            }

            @media screen and (min-width:993px) {
              min-height: unset !important;
              height: 500px !important;
            }

            canvas {
              width: 100% !important;
              height: auto !important;
            }
          }
        }
      }
    }

    #tabs~.w3-row {
      width: 100%;
      @media screen and (min-width:1001px) {
        width: 622px;
      }
    }

    .w3-row {

      .w3-col.s6 {
        min-height: 5rem;
      }

      .w3-col:first-child {
        border-left: 1px solid #bebebe;
        border-right: 1px solid #bebebe;
        padding: 10px;
        width: 100%;
        @media screen and (min-width:1001px) {
          width: 49.9999%;
          border-right: none;
        }
      }
      .w3-col:last-child {
        display: none;
        @media screen and (min-width:1001px) {
          display: block;
        }
        border-right: 1px solid #bebebe;
        padding: 10px;
        text-align: right;
      }
    }

    #tool-box {
      border-left: 1px solid #bebebe;
      border-right: 1px solid #bebebe;
      padding: 0 10px 10px 10px;
      width: 100%;
      @media screen and (min-width:1001px) {
        width: 622px;
      }

      #select-option,
      #drawing-mode-options,
      #images,
      #text-option {
        border: 1px solid #bebebe !important;
        margin-top: 0 !important;
        width: 600px !important;

        label {
          font-weight: normal;
        }

        #text-wrapper {
          width: 580px !important;
        }
      }
      #text-option {

        #text-controls-additional {

          div {
              margin-top: 15px;

              &:first-child {
                margin-top: 0;
                margin-bottom: 15px;
              }
          }
          #add-text-button::before {
            content: 'Text hinzufügen:';
            margin-right: 10px;
          }
          #text-cmd-italic {
            margin-left: 15px;
          }
          #font-family-select,
          #text-bg-color {
            float: right;
          }
        }
        #text-controls-row-2 {

          input {
            float: right;

            &#text-stroke-width {
              float: none;
            }
          }

          div {
            margin-top: 15px;
          }
        }
      }
    }
  }

  #ideaInputModalHeadline {
    margin: 50px 0 60px 0;
  }
  .w3-bar {
    display: none;
  }
  footer {

    .w3-bar {
      display: block;
    }
  }

  .ui-panel.ui-widget {
    border: none !important;
  }

  .w3-modal {
    position: static !important;
    padding-top: 0 !important;
    background-color: none !important;
    overflow: visible;

    .w3-modal-content {
      width: 100%;
      margin: 0;
    }
  }

  /* Zusammenfassung */
  .overview-column {
    width: 100%;
    @media screen and (min-width:600px) {
      padding-left: 48%;
    }
    @media screen and (min-width:993px) {
      padding-left: 35.8%;
    }
    @media screen and (min-width:1200px) {
      padding-left: 33.6%;
    }
    margin-bottom: 2rem;
    position: relative;

    h3 {
      color: #818d95;
      font-size: 16px;
      font-weight: normal;
      @media screen and (min-width:600px) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    img {
      margin-bottom: 2rem;
      @media screen and (min-width:1000px) {
        width: 31% !important;
        margin-right: 1rem;
        margin-bottom: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .ui-fileupload-buttonbar {

    .ui-button {

      .ui-button-text {
        display: block !important;
      }
    }
  }

  .w3-col.m4 {
    clear: both;
  }
}

/* Projektübersicht */
#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_SPYUl6qww6VK {
  position: static;
}

.has-control-menu #wrapper {
  margin-top: 5px !important;
}

/* Meine Projekte */
#portlet_JSFAdminIdeaOverview_WAR_JSFAdminIdeaOverview {

  .ui-datatable-reflow .ui-reflow-label,
  .ui-datatable-reflow .ui-reflow-dropdown {
    display: none !important;
  }

  @media screen and (max-width:640px) {
    .ui-paginator .ui-paginator-pages {
      display: inline-block !important;
    }
  }

  .ui-paginator.ui-paginator-top {
    display: none;
  }
  .ui-datatable-tablewrapper {
    overflow: visible;
    @media screen and (max-width:640px) {
      overflow: auto;
    }

    table {
      table-layout: auto;

      thead {

        tr {

          th:first-child {
            border-radius: 5px 0 0 0;
            width: 50%;
          }
          th:nth-child(2) {
            width: 12%;
          }
          th:nth-child(3) {
            width: 15%;
          }
          th:last-child {
            border-radius: 0 5px 0 0;
            width: 23%;

            & > span {
              display: none;
            }
          }
          th.ui-state-default {
            background: #E4E8EA;
            border: none;
            padding: 28px 35px 23px 35px;
            @media screen and (max-width:640px) {
              padding: 10px;
            }
            text-align: left;
            font-weight: normal;
            font-size: 18px;
            display: table-cell !important;
          }
        }
      }
      tbody {

        .ui-widget-content {
          color: #4C5558;
        }

        .ui-column-title {
          display: none !important;
        }

        td {
          padding: 22px 35px 20px 35px;
          @media screen and (max-width:640px) {
            padding: 10px;
            display: table-cell !important;
            float: none !important;
            width: auto !important;
          }
          color: #4C5558;
          font-size: 18px;
          border: none;

          a {
            float: none !important;
            margin-right: 25px;
          }
        }
        .ui-datatable-odd {
          background: none;
        }
        &.ui-widget-content {
          border-color: #E4E8EA;
        }

      }
    }
  }
  .ui-paginator.ui-paginator-bottom {
    border: none;
    background: #fff;
    margin-top: 20px;

    a {
      border-radius: 0;
      border-color: #E4E8EA;
      padding: 4px 10px;
    }
    .ui-paginator-page.ui-state-active {
      background-color: #d00000;
      border-color: #d00000;
    }
    .ui-icon-seek-first {
      background-position: -80px -157px;
    }
    .ui-icon-seek-prev {
      background-position: -48px -157px;
    }
    .ui-icon-seek-next {
      background-position: -32px -157px;
    }
    .ui-icon-seek-end {
      background-position: -64px -157px;
    }
  }
}

/* Suche ausblenden */
#p_p_id_com_liferay_portal_search_web_portlet_SearchPortlet_ {
  display: none;
}


/* Akkordion */
.ui-accordion {
  margin-top: 3rem;
  margin-bottom: 4rem;

  .ui-accordion-header {
    text-align: left;
    background: none !important;
    border-bottom: 2px solid #E8EDEF;
    width: 98%;
    padding: .5em 0;

    .ui-icon {
      left: auto;
      right: .5em;
      background-position: -68px 0 !important;
    }
  }
}
.ui-state.default {
  color: #818d95;
}
.ui-state-hover {
  box-shadow: none !important;
}


/* Preload Images */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../images/menu-projekte-rot.png)  url(../images/menu-projekt-karte-rot.png) url(../images/menu-ergebnisse-rot.png);
}

@media screen and (min-width:670px) {
  .whatsapp {
    display: none;
  }
}
